
.PokemonDetails {
   color: #f0e68c9f;
   /* overflow: auto !important; */
   padding: 0;
   background-image: url("./giphy.gif");
   background-repeat: no-repeat;
   background-size:auto;
   

}
 
.modal-content {
   background-color: #fefefe;
   padding: 60%;
   border: 1px solid #888;
   border-radius: 5px;
}
#card{
   display: flex;
   align-self: center;
   justify-self: center;
}


