#main {
   outline: auto;
   margin: 0px;
   display: 'flex';
   flex-direction: 'column-reverse';
   justify-content: 'center';
 }
 
.header {
   word-wrap: break-word;
   background-image: url("./top_title.svg");
   background-clip: padding-box;
   background-repeat: no-repeat;
   font-size: 100px;
   text-align: center;
   color: #FFCB05;
   font-family: 'Pokemon Solid', sans-serif;
   text-shadow: 6px 6px 0 #4074b5, 6px -6px 0 #4074b5, -6px 6px 0 #4074b5, -6px -6px 0 #4074b5, 6px 0px 0 #4074b5, 0px 6px 0 #4074b5, -6px 0px 0 #4074b5, 0px -6px 0 #4074b5;
   font-family: 'Pokemon Solid', sans-serif;
   margin: 0.2px;
   padding: 5px;
   margin: auto;
   top: 0;
 }
 
 @media(max-width: 700px) {
   .Header {
     font-size: 100%;
   }
 }