
.app-home {
  background-image: url("./leg.png");
  background-attachment: scroll, fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  outline: 0.1px ridge #4074b5;
  overflow: auto !important;
  padding: 0;
  margin: 0;
  background-clip: padding-box;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: sticky;
}
#total{
  color: #ff00ffa6;
  background-color: #100720;
  font-family: 'Pokemon Solid', sans-serif;
  display: flex;
  flex-basis: auto;
  text-align: center;
  align-self: center;
  justify-self: center;

}
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pagination{
  padding: 1%;
  margin-left: 20%;
  text-align: center;
  align-self: center;
  justify-content: center;
  color: #FFCB05;
  font-family: 'Pokemon Solid', sans-serif;
  outline: auto;
  margin-bottom: 3%;
  margin-top: 2%;
}
.pagination>p{
  font-size: 150%;

}
.pokemon-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: #548F8F 10px ridge;
  outline: 8px #378484 solid;
  background:rgba(65, 153, 153, 0.2);
  box-sizing: border-box;
  border-radius: 1rem;
  padding: auto;
  margin: 10px;
}


.pokemon-name {
  color: #FFCB05;
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 150%;

}
#prev {
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
  font-size: 150%;
  color: #FFCB05;
  font-family: 'Pokemon Solid', sans-serif;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
  font-family: 'Pokemon Solid', sans-serif;
}

#prev::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #bfff5e 17.8%, skyblue 100.2%);
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

#prev:active {
  color: orangered;
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient(circle farthest-corner at 10% 20%, orangered 17.8%, gold 100.2%);
  transition: 0.5s;
}
