/*size.css  */
@media (max-width: 480px) {
    html {
        font-size: 80%;
    }

    .task .content .text {
        font-size: 14px;
    }



    #search-btn {
        width: 20;
        font-size: small;
    }
}

@media (min-width: 481px) {

    html {
        font-size: 100%;
    }


    .task .content .text {
        font-size: 16px;
    }

}