#btn {
    cursor: pointer;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720;
    transition: 0.1s;
    font-size: 150%;
    padding: 1% 5% 5%;
    margin: 1.5%;
    color: #FFCB05;
    font-family: 'Pokemon Solid', sans-serif;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
    font-family: 'Pokemon Solid', sans-serif;
}

#btn::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, #bfff5e 17.8%, skyblue 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

#btn:active {
    color: orangered;
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(circle farthest-corner at 10% 20%, orangered 17.8%, gold 100.2%);
    transition: 0.5s;
}
