 #hp {
  background-color:#c26c21;
  }
  
  #attack {
    background-color:#800f2b;
  }
  
  #defense {
    background-color:#21c25f;
  }
  #speed {
    background-color:#94861b;
  
  } 
#speed,
#defense,
#attack,
#hp {
  color:snow;
  border: teal ridge 2.5px;
  border-radius: 10px;
  --w:30%;
  margin-right:var(--w);
  margin-left: var(--w);
}

#PokeImg {
  display: block;
  margin: 0 auto;
  width: 20%;
  border: #E8D594 ridge 2.5px;
  background-color: #429AE2;
}


#Find-Poke {
  background-color: #9aaebaac;
  text-align: center;
  font-size: 120%;
  padding: 0.5rem;
  border: 1px ridge palegreen;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.Search-Poke {
  text-align: center;
  margin: 0 auto;
  padding: 2%;
  
}
#err-or-search {
  display: block;
  text-align: center;
  color:#546ED6;
  background-color:#DDA1EC;
  margin:2%;
  font-family: Bangers;
  font-size: 130%;
  padding: 10px;
}

#search,
#search::placeholder {
  display: block;
  margin: 0 auto;
  padding: 1%;
color: gold;
}



