
@import url('./btn.css');

.PokemonApp {
  background-image: url("./image/backrond.png");
  /* background-repeat: no-repeat;אם אני רוצה שזה לא יהיה כפול */
  background-attachment: fixed;
  outline: auto;
  background-size: 50% 100%;
  text-align: center;
  justify-self: center;
  display: grid;
  grid-template-columns: auto auto auto;
}
#Find-Poke {
  border: 1px ridge palegreen;
  background-color: #9aaebaac;
  font-size: 125%;
  text-align: center;
  margin: 20px;
  padding: 0.5rem;
  max-width: 70%;
  border-radius:1rem;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-self: end !important;
  width: 50%;
  /* float: left; */
}
.PokemonApp>.Search-Poke {
  padding: 35px 70px 0px;
  display: inline-block;
  text-align: center;
  margin:5%;
  margin-left:10%;
  max-width: 60%;
  min-height: 28%;
  height:15px;
  outline: tan ridge 4px;
  background-color: #eccaa664;
  
}



#search,
#search::placeholder {
  display: block;
  margin: 0 auto;
  padding: 1%;
color: gold;
}



