:root {
  /* background-color: #e7b24eae; */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 800;
  color-scheme: light dark;
  color: snow;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./image/backrond.png");
}


h1 {
  color: #692b09;
  text-shadow: 2px 2px #754c36;
}

.PokemonApp{
  display: grid;
  grid-template-columns: auto auto auto;
    text-align: center;
}

#main {
  text-align: center;
  font-family: Bangers;
  font-size: 100px;
}
