:root {
  /* background-color: #e7b24eae; */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 800;
  color-scheme: light dark;
  color: snow;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #4186e1b4;
}

.Search-Poke {
  border: 1px ridge palegreen;
  text-align: center;
  margin: 0 auto;
  padding: auto;
}

#main {
  text-align: center;
  font-family: Bangers;
  font-size: 100px;
}

#err-or-search {
  display: block;
  text-align: center;
  color: lightseagreen;
  font-family: Bangers;
  font-size: 130%;
  padding: 10px;
}



#search,
#search::placeholder {
  display: block;
  margin: 0 auto;
  padding: 1%;
  /* color: gold;
  background-color: #9121917b; */
}

#search:focus {
  /* outline: ridge 4px lemonchiffon;
  background-color: lightslategray; */
}


#btn-random {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 175px;
  border-radius: 4%;

}

#PokeImg {
  display: block;
  margin: 0 auto;
  width: 10%;
}

/* #hp {
  --color1: teal;
  color: var(--color1);
  border: var(--color1) ridge 0.5px;
}

#attack {
  --color1: firebrick;
  color: var(--color1);
  border: var(--color1) ridge 0.5px;
}

#defense {
  --color1: skyblue;
  color: var(--color1);
  border: var(--color1) ridge 0.5px;
}

#speed {
  --color1: yellow;
  color: var(--color1);
  border: var(--color1) ridge 0.5px;


} */

#speed,
#defense,
#attack,
#hp {
  background-color: #bc8f8fb9;
}


#Find-Poke {
  text-align: center;
  font-size: 120%;
  padding: 0.5rem;
  border: ridge forestgreen 2px;
}