/* main.css */
:root {
  --dark: #374151;
  --darker: #1F2937;
  --darkest: #111827;
  --grey: #6B7280;
  --pink: #EC4899;
  --light: #EEE;
  --lightgreen: #00c78a;
  --orange: #ff9c27;
  --gold: #ffd900bd;
  --null: transparent;
  --cadetblue: cadetblue;
  --red_orng: rgb(153, 100, 65);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

.jerusalem {
  padding: 10px;
  height: 150px;
  color: gold;
  text-align: center;
  background-image: url('Jerusalem.jpg');
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shadow {
  text-shadow: #44a058 2px 2px 0.2rem;
  margin: 8px;
  width: auto;
  height: auto;
}

body {
  direction: rtl;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #FFF;
  background-color: var(--dark);
}

/* סגנון לשדה חיפוש משימות */
#searchbar {
  width: 20%;
  position: absolute;
  top: 20px;
  left: 10px;
  padding: 5px;
  border-radius: 1px;
  background-color: lightblue;
}

#searchbar.active {
  width: 100%;
  left: 0;
}

/* סגנון לכפתור חיפוש */
#search-btn {
  position: absolute;
  color: var(--darkest);
  top: 50px;
  left: 100px;
  background-color: var(--null);
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

#search-btn:hover {
  opacity: 3.5;
}

#search-btn:active {
  opacity: 5.0;
}

/* סגנון לשדה הטקסט של המשימות */
input[type=text] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

input[type=text]:focus {
  width: 40%;
}

/* סגנון לכפתור "הוסף משימה" */
#btn {
  color: var(--lightgreen);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
  background-color: var(--null);
}

/* סגנון לשדה הטקסט של המשימה החדשה */
#new-task-input {
  display: flex;
  flex: 1 30%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}

#new-task-input::placeholder {
  font-size: 80% ;
  color: var(--grey);
}

/* סגנון לכפתור "נקה משימות" */
#clear-tasks-btn {
  background-color: crimson;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  position: absolute;
  top: 90px;
  right: 50px;
  z-index: 1;
  text-shadow: var(--lightblue) 2px 2px 0.2rem;
  margin: 10px;
  width: auto;
  height: auto;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.task .content {
  flex: 1 1 0%;
}

.task .content .text {
  color: var(--light);
  background-color: var(--null); /* רק של מישימות רק */
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
  border: 2px solid transparent;
  padding: 5px;
}

.task .content .text:not(:read-only) {
  color: var(--orange);
}

.task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.8;
}

.task .actions button:active {
  opacity: 0.6;
}

.task .actions .edit {
  background-image: linear-gradient(to right, var(--pink), var(--orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--null);
}

.task .actions .delete {
  background-image: linear-gradient(to right,red, var(--orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--null);
}

.red-border {
  border: 2px solid red;
}

.completed {
  background-color: var(--lightgreen); /* צבע רקע של משימות שבוצעו */
}
/* סגנון לסימן הסיום */
.complete-sign::before {
  content: "\2610"; /* סימון "☐" באמצעות תו יחיד מיוחד */
  font-size: 20px; /* גודל התו */
  position: relative;
  top: 3px;
  left: 1px;
  color: var(--red_orng);
}

.complete-sign {
  color: var(--lightgreen);
  margin-right: 5px;
  cursor: pointer; /* הפוך את הסמל לידידותי לגולש */
}

.complete-sign.checked::before {
  content: "\2713"; /* סימון "✔" באמצעות תו יחיד מיוחד */
  font-size: 20px; /* גודל התו */
  position: relative;
  top: 3px;
  left: 1px;
  color: var(--lightgreen);
}
.green-text {
  color: lightgreen; 
}


.complete-sign.checked {
  color: var(--lightgreen); /* צבע התו של משימות שבוצעו */
}
