body {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    background-color: #000000;
    color: hsl(0, 0%, 100%);
}
#Jerusalem{
    /* style="width:128px;height:128px;align-items: right: ;;" */
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(12, 126, 219);
    border-bottom-style: dotted;
    /* תמונה */
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('Jerusalem.jpg');
}
html {
  font-size: 1em;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(12, 126, 219);
    border-bottom-style: dotted;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    color: DodgerBlue;
}


/* צורת מסוימת */
/* ul {
    list-style: square;
}*/

ul {
    list-style: none;
    color: rgba(181, 196, 245, 0.795);
    /*צורת */
}

ul li::before {
    content: "$- ";
}
