html {
    font-size: 1em;
    font-family: Arial, sans-serif;
    background-color: #000000dc;
    color: white;

    line-height: 1.2;
}


#Jerusalem{
    /* תמונה */
    display: revert;
    
    grid-auto-flow: column;
    background-image: url('img/Jerusalem.jpg');
    background-repeat: no-repeat;
    background-size : contain;

}


div{/* יצוב הכותרת הרשאית  */
    text-align: center;
    color: gold;
    font-size: 140%;
}
a{/* המיקום של קישור של מספר טלפון */
    color: skyblue
}
h1 {
    text-align: center;
      display: flex;
    font-size: 180%;
    font-weight: bold;
    color: rgb(12, 126, 219);
    border-bottom-style: dotted;

}

h2 {
    font-size: 120%;
    font-weight: bold;
    color: DodgerBlue;
}


/* צורת מסוימת */
/* ul {
    list-style: square;
} */

ul  {
    list-style: none;
    display: grid;

    grid-template-columns: auto ;

    /*צורת */
}
ul.skill{
    /* כישורים רווחים נוספים בגלל התמונות */
        line-height: 120%;
}
ul li::before {
    content: "\1F448";/* 👉*/
}
img {
  width: 10% auto;
  height: auto;
}
