html {
    font-size: 1em;
    font-family: Arial, sans-serif;
    background-color: #000000dc;
    color: white;

    line-height: 1.2;
}


#Jerusalem{
    /* 转 */
    display: revert;
    
    grid-auto-flow: column;
    background-image: url('img/Jerusalem.jpg');
    background-repeat: no-repeat;
    background-size : contain;

}


div{/* 爪 转专转 专砖转  */
    text-align: center;
    color: gold;
    font-size: 140%;
}
a{/* 拽 砖 拽砖专 砖 住驻专 驻 */
    color: skyblue
}
h1 {
    text-align: center;
      display: flex;
    font-size: 180%;
    font-weight: bold;
    color: rgb(12, 126, 219);
    border-bottom-style: dotted;

}

h2 {
    font-size: 120%;
    font-weight: bold;
    color: DodgerBlue;
}


/* 爪专转 住转 */
/* ul {
    list-style: square;
} */

ul  {
    list-style: none;
    display: grid;

    grid-template-columns: auto ;

    /*爪专转 */
}
ul.skill{
    /* 砖专 专 住驻  转转 */
        line-height: 120%;
}
ul li::before {
    content: "\1F448";/* */
}
img {
  width: 10% auto;
  height: auto;
}
