/* 住  砖 注 */
html {
    font-size: 1em; /*  驻 */
    font-family: Arial, sans-serif; /* 驻 专砖 驻 驻驻专 专专转  */
    background-color: #000000dc; /* 爪注 专拽注 */
    color: white; /* 爪注 拽住 专 */
    line-height: 1.2; /*  砖专转 拽住 */
}

#Jerusalem{/* 住 注专  注 -id "Jerusalem" */
    /* 转 */
    display: revert; /* 转爪 爪 专 */
    grid-auto-flow: column; /* 专转 转 爪 注 */
    background-image: url('img/Jerusalem.jpg'); /* 转转 专拽注 */
    background-repeat: no-repeat; /*  专 砖 转 */
    background-size : contain; /* 转 砖 转   */
}

div {/* 住 注专  div */
    /* 爪转 砖 转专转 专砖转 */
    text-align: center; /* 专 拽住 专 转专转 */
    color: gold; /* 爪注 拽住 */
    flex: 1; /* 转驻砖转 专转 专 注 */
    font-size: 140%; /*  拽住 */
}

a {/* 住 注专 拽砖专 ( a) */
    /* 拽 砖 拽砖专 住驻专 驻 */
    color: skyblue; /* 爪注 拽砖专 */
}

h1 {/* 住 注专 转专转 h1 */
    text-align: center; /* 专 拽住 专 转专转 */
    font-size: 180%; /*  拽住 */
    font-weight: bold; /* 砖转 拽住 驻转 */
    color: darkcyan;
    inline-size: auto;
    border:2px double ;
}

h2 {/* 住 注专 转专转 h2 */
  font-weight: bold ; /* 砖转 拽住 驻转 */
  font-size: 145%; /*  转专转 */
  color: DodgerBlue; /* 爪注 转专转 */
  text-align: center; /* 专 拽住 专 转专转 */
  border-bottom-style: dashed; /* 住 拽 转转 拽 */
  inline-size: 70%;
  
  border-block-start-width: 10px;
}

ul {/* 住 注专 专砖转 ul */
    font-weight: normal ; /* 爪注 专 拽住 驻转 */
    list-style: none; /* 住专转 转转 专砖 */
    display: grid; /* 转爪转 专砖 专砖转 */
    line-height: 140%; /*  砖专转 拽住 */
    grid-template-columns: auto; /* 专 注 专砖 专 */
}

ul.skill {/* 住 注专 专砖转 砖专 (注 class="skill") */
    /* 砖专 专 住驻  转转 */
    line-height: 150%; /*  砖专转 拽住 专 */
}

ul li::before {/* 住驻转 住 驻 驻专 专砖 */
    content: "\1F448"; /*  住 驻 驻专 专砖 */
}

ul li img {
  margin-right: 0.5%; /* 专  拽 转 拽住 */
  image-rendering: auto;
  background: wheat;
  border: 1px solid #ddd;
  border-radius: 4px;
}

@media (max-width: 480px) {/* 转爪转 注 住 拽 (专 专 480px) */
  html {
    font-size: 75%; /*  拽住 住 拽 */
  }
  ul li img {
    width: 12px; /* 专 转 住 拽 */
    height: 10px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {/* 转爪转 注 住  (专  481px -768px) */
  html {
    font-size: 85%; /*  拽住 住  */
  }
  ul li img {
    width: 14px; /* 专 转 住  */
    height: 12px;
  }
}

@media (min-width: 769px) {/* 转爪转 注 住  (专  769px) */
  html {
    font-size: 100%; /*  拽住 住  */
  }
  ul li img {
    width: 18px; /* 专 转 住  */
    height: 16px;
  }
}
