/* סגנון הכללי של העמוד */
html {
    font-size: 1em; /* גודל הגופן */
    font-family: Arial, sans-serif; /* גופן ראשי וגופן פלטפורמה ברירת מחדל */
    background-color: #000000dc; /* צבע רקע */
    color: white; /* צבע טקסט רגיל */
    line-height: 1.2; /* גובה שורת טקסט */
}

#Jerusalem{/* סגנון עבור אלמנט עם ה-id "Jerusalem" */
    /* תמונה */
    display: revert; /* תצוגה במצב הרגיל */
    grid-auto-flow: column; /* זרימת תכנים בצדדי עמוד */
    background-image: url('img/Jerusalem.jpg'); /* תמונת רקע */
    background-repeat: no-repeat; /* אי חזרה של התמונה */
    background-size : contain; /* התאמה של התמונה לגודל האלמנט */
}

div {/* סגנון עבור אלמנטי div */
    /* יציבות של הכותרת הרשית */
    text-align: center; /* מרכוז טקסט במרכז הכותרת */
    color: gold; /* צבע הטקסט */
    flex: 1; /* התפשטות מרכזית במרכז העמוד */
    font-size: 140%; /* גודל הטקסט */
}

a {/* סגנון עבור קישורים (אלמנט a) */
    /* מיקום של קישור למספר טלפון */
    color: skyblue; /* צבע הקישור */
}

h1 {/* סגנון עבור כותרת h1 */
    text-align: center; /* מרכוז טקסט במרכז הכותרת */
    font-size: 180%; /* גודל הטקסט */
    font-weight: bold; /* הדגשת טקסט מופחת */
    color: darkcyan;
    inline-size: auto;
    border:2px double ;
}

h2 {/* סגנון עבור כותרת h2 */
  font-weight: bold ; /* הדגשת טקסט מופחת */
  font-size: 145%; /* גודל הכותרת */
  color: DodgerBlue; /* צבע הכותרת */
  text-align: center; /* מרכוז טקסט במרכז הכותרת */
  border-bottom-style: dashed; /* סגנון קו תחתון נקודי */
  inline-size: 70%;
  
  border-block-start-width: 10px;
}

ul {/* סגנון עבור רשימות ul */
    font-weight: normal ; /* מצבע נורמלי טקסט מופחת */
    list-style: none; /* הסרת תבנית הרשימה */
    display: grid; /* תצוגת רשימה כרשת */
    line-height: 140%; /* גובה שורת טקסט */
    grid-template-columns: auto; /* אורך עמוד רשימה רגיל */
}

ul.skill {/* סגנון עבור רשימת כישורים (עם class="skill") */
    /* כישורים רווחים נוספים בגלל התמונות */
    line-height: 150%; /* גובה שורת טקסט מורחב */
}

ul li::before {/* הוספת סמל לפני פריטי הרשימה */
    content: "\1F448"; /* 👉 סמל לפני פריט ברשימה */
}

ul li img {
  margin-right: 0.5%; /* מרווח ימינה קטן מהתמונה לטקסט */
  image-rendering: auto;
  background: wheat;
  border: 1px solid #ddd;
  border-radius: 4px;
}

@media (max-width: 480px) {/* תצוגת העמוד במסכים קטנים (רוחב מרבי 480px) */
  html {
    font-size: 75%; /* גודל הטקסט במסכים קטנים */
  }
  ul li img {
    width: 12px; /* רוחב התמונה במסך קטן */
    height: 10px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {/* תצוגת העמוד במסכים בינוניים (רוחב בין 481px ל-768px) */
  html {
    font-size: 85%; /* גודל הטקסט במסכים בינוניים */
  }
  ul li img {
    width: 14px; /* רוחב התמונה במסך בינוני */
    height: 12px;
  }
}

@media (min-width: 769px) {/* תצוגת העמוד במסכים גדולים (רוחב מינימלי 769px) */
  html {
    font-size: 100%; /* גודל הטקסט במסכים גדולים */
  }
  ul li img {
    width: 18px; /* רוחב התמונה במסך גדול */
    height: 16px;
  }
}
